<div class="flex">
  <h1 class="heading-1 grow">Contents</h1>
  <%= link_to 'New Content', new_content_path %>
</div>

<div>
  <% @contents.each do |content| %>
    <%= link_to content do %>
      <div class="card">
        <h2 class="heading-2"><%= content.title %></h2>
      </div>
    <% end %>
  <% end %>
</div>

