<div class="space-y-4">
  <h1 class="heading-1"><%= @content.title %></h1>
  <p>CONTENT HERE</p>

  <h1 class="heading-1">Questions</h1>
  <div class="flex flex-col items-center">
    <ol class="mb-4 w-full list-decimal list-inside flex flex-col space-y-4">
      <% @content.questions.each do |question| %>
        <li class="card mt-0">
          <%= question.question %>
        </li>
      <% end %>
    </ol>
    <%= link_to "Add Question", @content, class: 'primary-button' %>
  </div>
</div>

<!--<%#= link_to 'Edit', edit_content_path(@content) %> |-->
<%#= link_to 'Back', contents_path %>
