<header class="w-full bg-neutral-50 drop-shadow-md p-4 flex sticky top-0 z-50">
  <div class="grow">
    <%= link_to '/' do %>
      <%= image_tag("logo-with-text.svg", class: 'inline-block max-h-8 mr-2', alt: 'StudyBuddy Logo') %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
</header>